/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #222;
    color: #fff;
}
h1{
    font-size: 45px;
}
h2{
    font-size: 38px;
}
h3{
    font-size: 32px;
}
a{
    font-size: 20px;  
}
p{
    font-size: 16px;
}

                            /*NABVAR*/
nav {
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    width: 100%; 
    height: 40px;         
    z-index: 10;             /* por encima de otros elementos */
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    display: block;
}
nav ul li a:hover {
    background-color: #9c1326;
}

.Submenu{
    display: none;
    position: absolute;
    min-width: 120px;
    background-color: #333;;
    border-radius: 5px;
}
.Submenu li a{
    padding: 10px 15px;
}
.Submenu li a:hover{
    background-color: #333;
    color: #d62f40;
}
.SerieNav:hover .Submenu{
    display: block;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    display: flex;
}
.logo img {
    height: 26px;
    margin-left: 20px;
}

                            /* HEADER */
header {
    background-image: url('Imagenes/Background.png');
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #d62f40;
    padding: 400px 20px;
    position: relative;
}
header h1 {
    margin: 0;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

header background-image{
    background-image: url('Imagenes/Background.png');
    background-size: cover;
    height: 100%;
    width: 100%;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 15px;
    font-size: 1em;
    color: #fff;
    background-color: #9c1326;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #c5303b;
}

                            /* SERIE */
.serie{
    padding: 30px;
}
.serie h3{
    padding-left: 35px;
}
.serie p{
    padding-left: 50px;
}


                            /* TEMPORADAS 1 Y 2 */
.sectionTmp{
    background-color: #570e1a;
}.sectionTmp h1{
    padding: 40px;
    margin: 25px;
    color: #d62f40;
}
.episodios{
    padding: 20px;
    background-color: #333;
}
.sectionTmp a{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    font-size: 28px;
    font-weight: bold;
    color: #d62f40;
    background-color: #333;;
}
.sectionTmp p{
    padding: 20px;
}
                            /* PERSONAJES */
.personajes {
    background-color: #570e1a;
    padding: 35px;
}
.personajes h2 {
    color: #d62f40;
    padding: 35px;
}
.personajes ul{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 0;
    list-style: none;
}
.personajes ul div {
    padding: 10px;
    font-size: 1.6em;
    text-align: left;
}
.personajes ul div img {
    display: block;
    height: auto;
    max-width: 100%;
    /*transform: scale(0.65);*/
    border-radius: 15px;
    
}
.Spoiler, .Spoiler2 {
    display: none;
}

                            /* GALERIA */
.galeria {
    display: inline-block;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}
.galeria h2 {
    display: grid;
    padding: 35px;
}
.galeria img {
    width: 400px;
    height: 230px;
    cursor: pointer;
    border-radius: 5px;
}
.galeria img:hover {
    transform: scale(1.07);
}

/*Visualizador de imagenes */
.galeria-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    align-items: center;
    margin: 0 auto;
}
.galeria-imagen {
    height: 150px;
    width: auto;
    object-fit: cover;
    cursor: pointer;
}
.visualizador {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.visualizador img {
    max-width: 80%;
    max-height: 80%;
}
.visualizador .cerrar {
    position: absolute;
    top: 20px;
    right: 30px;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

                            /*MITOLOGIA*/
.mitologia{
    background-color: #570e1a;
    padding: 25px 15px;
}

                            /* CONTACTO */
.contacto {
    display: flex;
    gap: 20px;
    padding: 20px;
}
/* Columna izquierda: Info*/
.cttoInfo {
    flex: 1;
    background-color: #333;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    align-items: stretch;
}
.contacto div h3{
    margin: 20px;
    color: #ccc;
    text-align: center;
}
.cttoInfo p {
    margin: 20px;
    color: #ccc;
    padding: 20px;
    text-decoration: none;
}
.cttoInfo a {
    text-decoration: none;
    padding: 10px;
}

/* Columna derecha: Formulario */
.cttoForm {
    flex: 1;
    padding: 1px 10px;
    background-color: #333;
    border-radius: 8px;
    color: #9c1326;
}
.cttoForm form label {
    display: block;
    margin-top: 10px;
    padding: 5px 8px;
    font-weight: bold;
    color: #ccc;
}
.cttoForm form input, .cttoForm form textarea {
    width: 95%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin: 10px auto;
}
.cttoForm form button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #9c1326;
    color: #ccc;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}
#nombre, #email, #mensaje{
    background-color: #222;
    color: #ccc;
    border-color: #222;
}
.cttoForm form button:hover {
    background-color: #c5303b;
}

                            /*FOOTERS*/
.footerHome{
    height: 40px;
    background-color: #570e1a; 
    color: white; 
    display: block;
    text-align: center;
    padding: 10px;
}
.footerOtro{
    height: 40px;
    background-color: #222; 
    color: white; 
    display: block;
    text-align: center;
    padding: 10px;
}
                            /*Menu Hamburgesa*/
  
#menu, .menuIcono {
    display: none;
    width: 30px;
    height: 30px;
  }

.burger{
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
    padding-right: 20px;
}
.burger span{
    width: 25px;
    height: 3px;
    background-color: #d62f40;
    transition: 0.3s;
}
                            /* Media Queries */
@media (max-width: 1300px) {
.galeria-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
}
@media (max-width: 768px) {/*870px es el tamaño en el que el logo de Home coliciona con el nav*/
/*monitores pequeños*/
    .logo{ 
        position: static; 
    }
    
    .personajes ul {
        display: block;
        position: relative;
    }
}

@media (max-width: 480px) {
/*dispositivos móviles*/
    .logo{ 
        display: none; 
    }
    .burger{
        display: flex;
    }
    .linkMenu{
        display: none;
        flex-direction: column;
        position: absolute;
        height: auto;
        top: 35px; /* Justo debajo de la navbar */
        right: 0;
        background-color: #333;
        width: 100%;
        padding: 15px 1px;
    }
    .linkMenu.active{
        display: flex;
        background-color: #222;
    }
    .Submenu{
        display: block;  
        position: relative;
        padding: 1px 20px;
        background-color: #222;
    }
    #menu:checked ~ .menuIcono {
        background: #570e1a; 
        }
    #menu:checked  ~ ul{
        display:block;
        width: 100%;
        z-index: 10;
        }
    .menuIcono {
        box-sizing: border-box;
        margin: 15px;
        display: inline-block;
        border: 1px solid black;
        border-radius: 5px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-weight: bold;
        text-align: center;
        user-select: none;
        }
    .mitologia{
        word-wrap: break-word;
        overflow-wrap: break-word;
    }
    .personajes ul {
        display: block;
        position: relative;
    }
    .personajes ul div img {
        display: block;
        max-width: 350px;
        height: auto;
        align-items: center;
        justify-content: center;
    }
    .contacto{
        display: block;
        padding: 1px 10px;
    }
    .contacto div h3{
        padding: 10px;
    }
    .cttoInfo{
        padding: 0px 10px;
    }
    .galeria div img {
        max-width: 70%;
    }
    .galeria-imagen{
        pointer-events: none; 
        display: block;
    }
    .galeria-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }

}
